<h1>Plan of action</h1>
<ol>
  <li>Create a component to add a person
    <ul>
      <li style="text-decoration: line-through;">Show us how to add a component into an existing component</li>
      <li style="text-decoration: line-through;">This will teach us how to take a form and send it to the server</li>
      <li style="text-decoration: line-through;">How to record data to something on the server</li>
      <li>How to set up dependency injection for our data store</li>
      <li style="text-decoration: line-through;">Notify other parts using a service that a contact was added</li>
    </ul>
  </li>
  <li>Create a component to list people
    <ul>
      <li style="text-decoration: line-through;">This will show us how to add a query to our data store</li>
      <li style="text-decoration: line-through;">How to get that data down to the client</li>
      <li style="text-decoration: line-through;">How to render the data out</li>
    </ul></li>
  <li>When you select a person, we should see a list of games for that person
    <ul>
      <li>This will show us how to query on an event happening</li>
      <li>Show us that we don't have any games, so give us a need to create a new component</li>
    </ul></li>
  <li>Add a new component for adding a game to a person
    <ul>
      <li style="text-decoration: line-through">Again show us how to add that component into the existing screen, show and hide it based on a flag</li>
      <li>Change in design, we're going to right align it and make it prompt us for game details?</li>
      <li>How to associate the data with the person selected</li>
    </ul></li>
</ol>
