<mat-card>
  <mat-card-title>
    <h3>People</h3>
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="people" class="mat-elevation-z8" multiTemplateDataRows>

      <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->
      <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First </th>
        <td mat-cell *matCellDef="let person"> {{person.firstName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last </th>
        <td mat-cell *matCellDef="let person"> {{person.lastName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let person"> {{person.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let person"> {{person.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="person-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <app-games-list *ngIf="element == expandedElement" [person]="element"></app-games-list>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          [class.person-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="person-detail-row"></tr>      
    </table>
  </mat-card-content>
</mat-card>
