<!--<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>application</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/people"]'>People</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>-->

<header>
  <mat-toolbar>
    <span><a class="navbar-brand" [routerLink]='["/"]'>People with Games</a></span>
    <span class="nav-spacer"></span>
    <span class="nav-link" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a [routerLink]='["/people-with-games"]'>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">face</mat-icon>
        <span class="nav-link-text">People</span>
      </a>
    </span>
  </mat-toolbar>
</header>
